.container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.checklistButton {
    position: absolute;
    top: 15px;
    right: 15px;
    background: white;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    border: 1px #aaa solid;
    font-size: 32pt;
    user-select: none;
    cursor: pointer;
}

.items {
    position: absolute;
    top: 0;
    right: 0;
    width: 24%;
    background-color: #708090;
    z-index: 2;
    color: white;
    padding-left: 1%;
}

.item {
    height: 25px;
    user-select: none;
    cursor: pointer;
}

.item > * {
    cursor: pointer;
}

.item:hover {
    background-color: #657280
}

.itemFocused {
    background-color: #657280
}

.PopUp{
    display: inline-block;
}

.PopUp button{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    width: 100%;
    background-color: #333;
    color: white;
}


